<<div class="cocktail-container bg-gradient">
  <div class="card-product link ml-5 pl-3" style="height: 250px">
    <%= simple_form_for [ @cocktail, @dose ] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.association :ingredient, class: "form-control" %>
        <%= f.input :description, class: "form-control" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
  <div class="mx-5 my-2 btn btn-warning">
    <%= link_to 'Back', cocktail_path(@cocktail) %>
  </div>
</div>
